@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Lato', Helvetica, serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/tile.png');
    background-repeat: repeat;
    background-size: auto;
}

h1{
    font-size: 3em;
    font-family: 'Playfair Display', Helvetica, serif;
}

.filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;
    font-size: 1.3em;
}

.filter-container label{
    margin-left: 1em;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
button {
    margin-left: 1em;
    padding: 5px 10px;
}
  
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.angel-gif {
    width: 128px;
    height: 181px;
}

.left {
    transform: scaleX(-1);
    margin-right: 20px;
}

.right {
    margin-left: 20px;
}

section {
    display: inline-block;
    max-width: 600px;  
    border: 1px solid black;
    padding:20px;
    margin:10px;
    background-color: #F5F5F5;
    text-align: center;
}


.carousel-wrap {
    width: 61.8%; 
    aspect-ratio: 1 / 1; 
    margin: 0 auto;
    border: 2px solid red;
    background-color: #F5F5F5;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  

  .golden-wrapper {
    width: 70vw;
    margin: 0 15vw;
    aspect-ratio: 1.618 / 1;/*Horizontal ratio*/
    background-color: lightgoldenrodyellow;
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .golden-horizontal {
    width: 100%;
    margin: 0;
    padding: 0;
    aspect-ratio: 1.618 / 1;/*Horizontal ratio*/
    background-color: violet;
    position: relative;
  }
  
  .golden-vertical {
    width: 38.2%;
    margin: 0;
    padding: 0;
    aspect-ratio: 1 / 1.618;/*Vertical ratio*/
    background-color: seagreen;
    display: flex;
    flex-direction: column;
  }

  .square {
    width: 61.8%; /* Golden ratio of parent width */
    aspect-ratio: 1 / 1; /* Square */
    margin: 0;
    padding: 0;;
    background-color: lightcoral;

    position: relative;
  }
  .small-square {
    height: 61.8%; /* Golden ratio of parent width */
    aspect-ratio: 1 / 1; /* Square */
    margin: 0;
    padding: 0;;
    background-color: lightblue;

    position: relative;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1rem;
    color: #333;
    padding: 10px;
    box-sizing: border-box;
  }

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}
  
