@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Unna", serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-image: url('../images/wall-tile.png');
    background-repeat: repeat;
    background-size: auto;
    display: flex;
    flex-direction: column;
}

h1{
  font-family: "Unna", serif;
  font-weight: 400;
  font-size: 3.5em;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 5vh;
}

p{
    width: 60%;
    font-size: 1.5em;
    margin: 0 auto;
    padding: 0 20px;
} 

label {
    display: block;
    margin-bottom: 5px;
}
  
button {
    margin-left: 1em;
    padding: 5px 10px;
}
  
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.header-container img{
    max-width: 150px;
}

a{
    text-decoration: none;
    color: black;
}

.orange-gif{

}

.left {
    transform: scaleX(-1);
    margin-right: 20px;
}

.right {
    margin-left: 20px;
}

section {
    display: inline-block;
    max-width: 600px;  
    border: 1px solid black;
    padding:20px;
    margin:10px;
    background-color: #F5F5F5;
    text-align: center;
}

  
