@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

h3 {
    font-size: 3em;
    font-family: "Trade Winds", system-ui;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url('https://ojspain.github.io/images/pirate_bay.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    flex-direction: column;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 80%; /* Ensures it doesn't stretch beyond a certain width */
}

.keywords-image {
    max-width: 150px;
    height: auto;
    position: absolute;
    left: -180px; /* Positions it off to the left of the main content */
    top: 50px; /* Adjust as needed */
}

.main-content {
    text-align: center;
    flex: 1;
}

.header-image {
    max-width: 3.5em;
}

.header-title {
    margin: 0;
}

.footer-link a {
    color: red;
    font-size: 1em;
}
